@import 'normalize.css';
@import 'skeleton.css';

body {
    font-size: 1.75em;
}

li {
    list-style: none;
    margin: 0;
}

.content {
    height: 100vh;
    background-color: rgba(255, 255, 255, .90);
    text-align: center;
}

.header {
    padding-top: 100px;
}

#calendar {
    display: inline-block;
    text-align: left;
}

@media (min-width: 750px) {
    .content {
        width: 50vw;   
    }
    body {
        background-image: url('../images/bg.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
}
